@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--game-viewport-width: 180px;
	--game-viewport-height: 180px;
	--game-cell-size: 16px;
	--pixel-size: 1;

	/* Battle variables */
	--battle-viewport-width: 352px;
	--battle-viewport-height: 198px;
	--battle-pixel-size: 1;

	/* Animation variables */
	--glob-clr-default: #dafd2a;
	--glob-clr: var(--glob-clr-default);
}

html,
body {
	overflow: hidden;
}

* {
  user-select: none;
}

@layer components {
	.pixelart {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

@media screen and (min-width: 360px) and (min-height: 360px) {
	:root {
		--pixel-size: 2;
	}
}

@media screen and (min-width: 540px) and (min-height: 540px) {
	:root {
		--pixel-size: 3;
    --battle-pixel-size: 3;
	}
}

@media screen and (min-width: 720px) and (min-height: 720px) {
	:root {
		--pixel-size: 4;
	}
}

@media screen and (min-width: 900px) and (min-height: 900px) {
	:root {
		--pixel-size: 5;
		--battle-pixel-size: 3;
	}
}

@media screen and (min-width: 1080px) and (min-height: 1080px) {
	:root {
		--pixel-size: 6;
		--battle-pixel-size: 3.5;
	}
}
